$grey-color: #6a707b;
$black-color: #131821;
$blue-color: #4066a5;
$border-color: #e3e3e4;
$white-color: #f2f5fa;
$full-white: #ffffff;
$facebook: #4267b2;
$facebook-active: #2f4a80;
$instagram: #c13584;
$instagram-active: #8f2762;
$twitter: #1da1f2;
$twitter-active: #177fbf;
$youtube: #ff0000;
$youtube-active: #cc0000;
$box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
$error-color: rgb(199, 25, 25);
$social-icons: #b1b5bb;
